.headerToolbar{
	--background: #e9e9ea;
	--border-width: 0px;
	--padding-top: 10px;
	--padding-bottom: 5px;
	--padding-end: 0px;
}
.ios ion-title {
   position: inherit;
   width:100%;
   text-align:center
}
.toolbar-container{
	--padding-start:0px;
}
ion-title {
   text-align:center;
   font-size: 17px;
   font-weight: 600;
   color: black;
   margin-top:5px;
   margin-right: 25%;
}
ion-content{
	--background: var(--ion-color-header);
	--padding-bottom:100px;
	/*border-top:2px solid #d1d1cc !important; */
}
/*content*/
.storesImage{
	border-radius: 10px;
    margin-right: 5px;
    width: 80px;
    height: 80px;
    margin-top: 5px;
}
.storesBox{
	color: #a7a8aa;
	height:auto;
	min-height: 100px;
	border-bottom: 2px solid #d2d3d4;
}
.storesSubBox{
	min-height: 100px;
    height: auto;
}
.storesImageDiv{
	float: right;
    padding: 2px;
    height: 101px;
    background: #e9e9ea;
}
.storesImageDivNew{
	float: right;
    padding: 2px;
    height: 100px;
    background: #e9e9ea;
}
.storesImageIcon{
	float:right;
    margin: 7px 5px 0 5px;
    border: 2px solid;
    padding-left: 3px;
    padding-right: 4px;
    border-radius: 5px;
	color: #dc4b24;
}
.operationDisc{
	padding: 18px 60px 3px 12px;
    font-size: 14px;
    color: #000000;
}
.operationDate{
	padding: 11px 60px 3px 12px;
    color: #ED2224;
    font-size: 14px;
    font-weight: bold;
    font-family: auto;
    direction: ltr;
    text-align: right;
}
.operationNum{
	padding: 3px 35px 3px 12px;
    color: #000000;
    font-size: 14px;
    float: right;
}
.divEmptyVal{
    text-align: center;
    padding-top: 200px;
}
.emptyFirstText{
    font-size: 20px;
    color:#ED2224;
    padding-bottom: 5px;
}
.emptyLastText{
    font-size: 15px;
     color:#ED2224;
}
/*header*/
.palanceText{
	background-color:#a19f9e;
	font-size: 9px;
	padding: 3px 9px 3px 8px;
	border-radius: 5px;
	color:#ffffff;
	float:right;
	margin-top: 5px;
}
.palancePoints{
	padding-right: 5px;
	font-family: emoji;
	color: #ED2224;
	vertical-align: bottom;
	font-size:25px;
	float:right;
}
.point{
	padding-right: 5px;
	color: #ED2224;
	vertical-align: bottom;
	font-size:11px;
	float:right;
}
.classValData{
   --background: #ED2224;
    color: var(--ion-color-wight);
    position: fixed;
	font-family: emoji;
    top: 0px;
    right: 40px;
    --padding-top: 4px;
    --padding-end: 5px;
    --padding-bottom: 4px;
    --padding-start: 6px;
    font-size: 9px;
    font-weight: bold;
    z-index: 100;
}
/*header*/
/*menu style*/
ion-footer{
	position: fixed;
    bottom: 0px;
	border-top: 2px solid #d7d3d7;
    background: #ebebeb;
    border-bottom: 2px solid #d7d3d7;
}
.menueValues{
	width:100%;
	position:fixed;
	bottom:90px;
	text-align:center;
	z-index:10000;
	height:15px;
}
.footerToolbar{
--background: #e9e9ea;
--border-width:0px;
--padding-top:15px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
}
.menueClass{
	color:#000000;
	width:20%;
	float:right;
	text-align:center;
	cursor:pointer;
	z-index:1000000;
}
.menueClassActive{
	color:#DB4437;
}
.labelClass{
    font-size: 13px !important;
    margin-bottom: 10px;
	font-weight: 600;
}
ion-badge{
   --background: #ED2224;
    color: #ffffff;
    position: fixed;
    top: 3px;
    --padding-top: 5px;
    --padding-end: 5px;
    --padding-bottom: 1px;
    --padding-start: 5px;
    font-size: 11px;
}
/*menu style*/

