<ion-content>
<div style="padding-top:33px" (click)="functionOpenMenue()"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
    <div style="margin-top:80px; text-align:center">
    	<img style="width:125px;" src="../../assets/imgs/Group.png" >
    </div>
    <div class="firstTitle fontSize20 fontweight1">
    	إلغاء حساب
    </div>
    <div style="padding-top:30px; line-height:25px;color:#000000;white-space: pre-line !important;">
    	يرجى العلم انه في حال إلغاء حسابك سيتم إلغاء جميع النقاط المتبقية في حسابك بالإضافة الى إزالة جميع بياناتك من التطبيق.
        <br>
         ملاحظة : في حال رغبتك بإنهاء حسابك يرجى الظغط على الزر في الاسفل.
    </div>
    <div>
          <div class="divButtonClass">
            <ion-button class="oneButton fontSize18" (click)="deleteAccount()" id="submit"><span style="font-size:15px;padding-top:4px">إلغاء الحساب</span></ion-button>
          </div>
        </div>
</ion-content>