<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> رصيد الخدمات </div>
        <div class="palancePoints">{{points}}</div>
        <div class="point">نقطة<br>مقايضة</div>
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:20px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="classValData" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding:20px">
       <div>
       	<div style="padding-bottom:15px; font-size:23px;color:#000000">إضافة نشاط تجاري</div>
        <div style="padding-bottom: 15px;color: #ED2224;font-size: 13px;">بعد الإنتهاء من إدخال جميع البيانات سيتم إرسال إشعار لجهازك بتفعيل حسابك بعد مراجعة جميع البيانات من خلال الادارة و تفعيل حسابك</div>
           <div class="largePoxAddImage" (click)="functionAddImage()">
                <div class="textAlignCenter"><img src="../../assets/imgs/addImage.png" style="width:35px"></div>
                <div class="textPoxAddImage" (click)="uploadeFirstFile()">إضف صورة</div>
           </div>
       </div>
       <div style="padding-top:10px">
       		<ion-grid>
            	<ion-row>
                    <ion-col size="6" (click)="functionChangeType(1)">
                        <ion-card class="{{selectClassOne}}">
                            <div class="selectImage">
                            	<img src="../../assets/imgs/greenCheck.png" style="width:20px" *ngIf="typeWork==1">
                                <img src="../../assets/imgs/greyCheck.png" style="width:20px" *ngIf="typeWork==2">
                            </div>
                            <div class="workType">
                            	نشاط تجاري
                            </div>
                        </ion-card>
                    </ion-col>
                     <ion-col size="6" (click)="functionChangeType(2)">
                        <ion-card class="{{selectClassTow}}">
                            <div class="selectImage">
                            	<img src="../../assets/imgs/greenCheck.png" style="width:20px" *ngIf="typeWork==2">
                                <img src="../../assets/imgs/greyCheck.png" style="width:20px" *ngIf="typeWork==1">
                            </div>
                            <div class="workType">
                            	أفراد-عمل حر
                            </div>
                        </ion-card>
                    </ion-col>
            	</ion-row>
        	</ion-grid>
       </div>
       <div style="padding-bottom:15px; padding-top:10px">
           <form style="display: contents;" (ngSubmit)="updateData()">
            <!--<div class="paddingBottom" *ngIf="typeWork==1">
                <ion-item lines="none">
                    <ion-input  type="text" [(ngModel)]="secondFileVal" [ngModelOptions]="{standalone: true}" placeholder="صورة السجل التجاري"></ion-input>
                    <span class="class962" (click)="uploadeSecondFile()">
                       تحميل
                    </span>
                </ion-item>
            </div>
            <div class="paddingBottom" *ngIf="typeWork==2">
                <ion-item lines="none">
                    <ion-input  type="number" [(ngModel)]="thirdFileVal" [ngModelOptions]="{standalone: true}" readonly='true' placeholder="صورة الهوية الشخصية"></ion-input>
                    <span class="class962" (click)="uploadeThirdFile()">
                       تحميل
                    </span>
                </ion-item>
            </div>-->
             <div class="paddingBottom">
                <ion-item lines="none">
                    <ion-input  type="text" [(ngModel)]="foreFileVal" [ngModelOptions]="{standalone: true}" placeholder="صورة الحساب"></ion-input>
                    <span class="class962" (click)="uploadeForeFile()">
                       تحميل
                    </span>
                </ion-item>
            </div>
            <div class="paddingBottom">
               <ion-item lines="none" class="{{errorCat}}">
                    <ion-select value="{{catIdUser}}" (ionChange)="selectCatValues($event.target.value)" readonly='true'  placeholder="تصنيف الخدمة المقدمة" mode="ios" interface="popover" class="my-custom-interface">
                      <ion-select-option *ngFor="let items of returnCategoriesArray" value="{{items.id}}">{{items.title}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorCat== 0">الرجاء إختيار تصنيف مقدم الخدمة</div>
            </div>
             <div class="paddingBottom">
               <ion-item lines="none" class="{{errorSubCat}}">
                    <ion-select value="{{subCatIdUser}}" (ionChange)="selectSubCatValues($event.target.value)"  placeholder="التصنيف الفرعي" mode="ios" interface="popover" class="my-custom-interface">
                       <ion-select-option value="">إختر</ion-select-option>
                      <ion-select-option *ngFor="let items of returnsubCatArray" value="{{items.id}}">{{items.title}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorSubCat== 0">الرجاء إختيار التصنيف الفرعي</div>
            </div>
            <div class="paddingBottom">
                <ion-item lines="none" class="{{errorUserName}}">
                    <ion-input type="text" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" placeholder="الاسم" (ionInput)="checkUserName($event.target.value)"></ion-input>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorUserName == 0">الرجاء إدخال الاسم</div>
            </div>
            <div class="paddingBottom">
                <ion-item lines="none" class="{{errorCommercialName}}">
                    <ion-input type="text" [(ngModel)]="commercialName" [ngModelOptions]="{standalone: true}" placeholder="الأسم التجاري" (ionInput)="checkCommercialName($event.target.value)"></ion-input>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorCommercialName == 0">الرجاء الأسم التجاري</div>
            </div>
            <div class="paddingBottom">
               <ion-item lines="none" class="{{errorCity}}">
                    <ion-select value="{{cityId}}" (ionChange)="selectCityValues($event.target.value)"  placeholder="المدينة" mode="ios" interface="popover" class="my-custom-interface">
                      <ion-select-option *ngFor="let items of returnCitysArray" value="{{items.id}}">{{items.title}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorCity== 0">الرجاء إختيار المدينة</div>
            </div>
             <div class="paddingBottom">
               <ion-item lines="none" class="{{errorRegion}}">
                    <ion-select value="{{regionId}}" (ionChange)="selectRegionValues($event.target.value)"  placeholder="المنطقة" mode="ios" interface="popover" class="my-custom-interface">
                       <ion-select-option value="">إختر</ion-select-option>
                      <ion-select-option *ngFor="let items of returnRegionsArray" value="{{items.id}}">{{items.title}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorRegion== 0">الرجاء إختيار المنطقة</div>
            </div>
            <div class="paddingBottom">
                <ion-item lines="none" class="{{errorServiceDetails}}">
                    <ion-textarea rows="5" [(ngModel)]="serviceDetails" [ngModelOptions]="{standalone: true}" placeholder="تفاصيل الخدمة المقدمة" (ionInput)="checkServiceDetails($event.target.value)"></ion-textarea>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorServiceDetails == 0">الرجاء إدخال تفاصيل الخدمة المقدمة</div>
            </div>
            <div>
              <div class="divButtonClass">
                <ion-button class="oneButton fontSize18" (click)="updateData()" id="submit" disabled="{{!isdisabled}}"><span style="font-size:15px;padding-top:4px">تعديل</span></ion-button>
              </div>
            </div>
            <button style="visibility:hidden" id="submit" ion-button type="submit" ></button>
            </form>
       </div>
    </div>
</ion-content>
