<ion-content>
<div style="padding-top:33px" (click)="functionOpenMenue()"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
    <div style="margin-top:80px; text-align:center">
    	<img style="width:125px;" src="../../assets/imgs/Group.png" >
    </div>
    <div class="firstTitle fontSize20 fontweight1">
    	حول التطبيق
    </div>
    <div style="padding-top:30px; line-height:25px;color:#000000;white-space: pre-line !important;">
    	{{description}}
    </div>
</ion-content>