<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> رصيد الخدمات </div>
        <div class="palancePoints">{{points}}</div>
        <div class="point">نقطة<br>مقايضة</div>
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:20px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="classValData" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div>
       <div style="position:relative">
            <div class="mobileNumber" (click)="functionCallNumber(mobileUserInfo)"><img src="../../assets/imgs/callicon.png" style="width:11px"> {{mobileHide}}</div>
            <div class="mobileNumber2">
                <ion-icon name="heart" class="unfaveIcon" *ngIf='imageType == 0' (click)="saveBookMark(userinfoId)"></ion-icon>
                <ion-icon name="heart" class="faveIcon" *ngIf='imageType != 0' (click)="removeBookMark(userinfoId)"></ion-icon>
                 <ion-icon name="star" class="evalIcon" (click)="evaluationUser()"></ion-icon>
            </div>
            <div><img src="{{personalImage}}"></div>
        </div>
        <div class="paddingData">
          <div class="divButtonClass">
            <ion-button class="oneButton fontSize18" (click)="functionSendUser()" id="submit"><span style="font-size:15px;padding-top:4px">إرسال نقاط</span></ion-button>
          </div>
        </div> 	
        <div class="paddingData">
          <div class="name">{{commercialName}}</div>
          <div class="catAndSubCat">{{catUserInfoId}} | {{subUserInfoCatId}}</div>
          <div class="cityAndRegion">{{cityUserInfoId}} | {{regionUserInfoId}}</div>
        </div>
        <div class="borderTop"></div>  	
        <div class="paddingData">
          <div class="catAndSubCat" style="white-space: pre-line !important;">{{serviceDetails}}</div>
        </div>
    </div>
</ion-content>
<div class="menueValues"><img (click)="functionGoToSendPoint()" src="../../assets/imgs/sendPoint.png" style="width:70px"></div>
        <ion-footer class="ion-no-border">
        <ion-toolbar class="footerToolbar">
            <div class="width100">
                <div class="menueClass" (click)="functionGoToHome()">
                    <div><img src="../../assets/imgs/Group862.png" style="width:20px"></div>
                    <div class="labelClass">الرئيسية</div>
                </div>
                <div class="menueClass" (click)="functionGoInvitations()">
                    <div><img src="../../assets/imgs/Group863.png" style="width:18px"></div>
                    <div class="labelClass">الدعوات</div>
                </div>
                <div class="menueClass" (click)="functionGoToSendPoint()">
                    <div style="height:28px"></div>
                    <div class="labelClass" style="font-size:15px">إرسال نقاط</div>
                </div>
                <div class="menueClass" (click)="functionGoToArchives()">
                    <div><img src="../../assets/imgs/Group865.png" style="width:18px"></div>
                    <div class="labelClass">السجل</div>
                </div>
                <div class="menueClass" (click)="functionOpenAccount()">
                    <div><img src="../../assets/imgs/Group866.png" style="width:18px"></div>
                    <div class="labelClass">حسابي</div>
                </div>
            </div>
        </ion-toolbar>
        </ion-footer>