<ion-content>
<div style="padding-top:33px" (click)="functionOpenMenue()"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
    <div style="margin-top:80px; text-align:center">
    	<img style="width:125px;" src="../../assets/imgs/Group.png" >
    </div>
    <div class="firstTitle fontSize20 fontweight1">
    	تسجيل الدخول
    </div>
	<div style="padding-top:50px">
  		<form style="display: contents;" (ngSubmit)="checkUser()">
            <div class="paddingBottom">
                <ion-item lines="none" class="{{errorNumber}}">
                    <ion-input style="border-left:1px solid #B0AFB0;" type="number" [(ngModel)]="number" [ngModelOptions]="{standalone: true}" placeholder="رقم الجوال مثال 782345678" (ionInput)="checkNumber($event.target.value)"></ion-input>
                    <span class="class962">
                    	<div style="color:#000000"> <img src="../../assets/imgs/jo.png" style="width:15px; border-radius:10px"> 
                        <span style="vertical-align:top; padding-left:3px;padding-right:3px;font-size: 14px;">+962</span>
                        <ion-icon name="caret-down-outline" style="width:15px; color:#000000;"></ion-icon></div>
                    </span>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorNumber == 0">الرجاء إدخال رقم الجوال</div>
            </div> 
            <div class="paddingBottom">
                <ion-item lines="none" class="{{errorPassword}}">
                    <ion-input [type]="showPassword ? 'text' : 'password'" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" placeholder="كلمة المرور" (ionInput)="checkPassword($event.target.value)"></ion-input><ion-icon [name]="showPassword ? 'eye' : 'eye-off'" class="eye" (click)="changeInputType()"></ion-icon>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorPassword == 0">الرجاء إدخال كلمة المرور</div>
            </div>
            <div class="paddingBottom paddingTop3">
                <div class="forgetPassword" (click)="forgotPasssword()">نسيت كلمة المرور</div>
            </div>
            <div>
              <div class="divButtonClass">
                <ion-button class="oneButton fontSize18" id="submit" (click)="checkUser()" disabled="{{!isdisabled}}"><span style="font-size:15px;padding-top:4px">دخول</span></ion-button>
              </div>
            </div>
            <button style="visibility:hidden" id="submit" ion-button type="submit" ></button>
    	</form>
         <div class="lastTitle fontSize16 fontweight1">
            أو
        </div>
        <div>
          <div class="divButtonClass">
            <ion-button class="oneButtonTow fontSize18" id="submit" (click)="functionGoRegistration()"><span style="font-size:15px;padding-top:4px">إنشاء حساب</span></ion-button>
          </div>
        </div>
	</div>
</ion-content>