<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> رصيد الخدمات </div>
        <div class="palancePoints">{{points}}</div>
        <div class="point">نقطة<br>مقايضة</div>
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:20px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="classValData" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding:20px">
       <div *ngIf="users!=0">
       	<div style="padding-bottom:10px;padding-right:10px; font-size:23px;color:#000000;">قائمة الخدمات المفضلة</div>
           <div *ngFor="let items of returnUsersArray;let i = index">
                <div class="storesBox" *ngIf="items.show == 1">
                    <div class="storesSubBox">
                        <div class="storesImageDiv" (click)="functionUserDetalis(items.id)">
                             <img src="{{items.personalImage}}" class="storesImage">
                        </div>
                        <div (click)="functionUserDetalis(items.id)">
                            <div (click)="functionUserDetalis(items.id)">
                                <div class="storesName">{{items.commercialName}}</div>
                                <div class="storesSubCatLabel">{{items.subCatId}}</div>
                                <div class="storesTypeLabel">{{items.cityId}} | {{items.regionsId}}</div>
                            </div>
                        </div>
                         <div style="margin-top:15px; margin-right:8px; margin-left:8px">
                              <div style="float:right;position: fixed;padding-top: 5px;">
                             	<ion-icon name="heart" class="faveIcon" (click)="removeBookMark(items.id,i)"></ion-icon>
       							   <div class="starLabel">
                                    <div class="star">
                                      <div class="starBackRat" [ngStyle]="{'width': items.rate}">
                                         <div class="starcover">
                                          <img src="../../assets/imgs/starImage.png" style="width:15px; height:15px;max-width:15px"/>
                                          <img src="../../assets/imgs/starImage.png" style="width:15px; height:15px;max-width:15px"/>
                                          <img src="../../assets/imgs/starImage.png" style="width:15px; height:15px;max-width:15px"/>
                                          <img src="../../assets/imgs/starImage.png" style="width:15px; height:15px;max-width:15px"/>
                                          <img src="../../assets/imgs/starImage.png" style="width:15px; height:15px;max-width:15px"/>
                                         </div>
                                      </div>
                                    </div>
                                </div>
                            
                             </div>
                             <div (click)="functionCallNumber(items.mobile)" class="mobileNumber"><img src="../../assets/imgs/callicon.png" style="width:11px"> {{items.mobileHide}}</div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <div class="divEmptyVal" *ngIf="users==0">
            <div>
                <img src="../../assets/imgs/noData.png" style="width:150px; height:150px">
            </div>
            <div class="emptyFirstText">
               لا يوجد بيانات 
            </div>
            <div class="emptyLastText">
                نعتذر لا يوجد بيانات في قائمة مفضلتي
            </div>
        </div>
    </div>
</ion-content>
  <div class="menueValues"><img (click)="functionGoToSendPoint()" src="../../assets/imgs/sendPoint.png" style="width:70px"></div>
        <ion-footer class="ion-no-border">
        <ion-toolbar class="footerToolbar">
            <div class="width100">
                <div class="menueClass" (click)="functionGoToHome()">
                    <div><img src="../../assets/imgs/Group862.png" style="width:20px"></div>
                    <div class="labelClass">الرئيسية</div>
                </div>
                <div class="menueClass" (click)="functionGoInvitations()">
                    <div><img src="../../assets/imgs/Group863.png" style="width:18px"></div>
                    <div class="labelClass">الدعوات</div>
                </div>
                <div class="menueClass" (click)="functionGoToSendPoint()">
                    <div style="height:28px"></div>
                    <div class="labelClass" style="font-size:15px">إرسال نقاط</div>
                </div>
                <div class="menueClass" (click)="functionGoToArchives()">
                    <div><img src="../../assets/imgs/Group865.png" style="width:18px"></div>
                    <div class="labelClass">السجل</div>
                </div>
                <div class="menueClass" (click)="functionOpenAccount()">
                    <div><img src="../../assets/imgs/Group866.png" style="width:18px"></div>
                    <div class="labelClass">حسابي</div>
                </div>
            </div>
        </ion-toolbar>
        </ion-footer>