<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="first"  type="overlay" side="end" class="my-custom-menu">
      <ion-content>
        <ion-list id="labels-list">
          <ion-list-header>
          <div style="height: 100px;margin-top: 70px;width:100%;text-align:center">
          	<img slot="end" src="../../assets/imgs/Group.png" style="width: 125px" >
          </div>
          </ion-list-header>
           <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesfirst; let i = index">
            <ion-item (click)="functionGoPage(p.url)" class="menuListItem">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div style="width:100%;margin-top:50px; text-align:center">
            <img src="../../assets/imgs/Instagram_white.png" style="width: 40px;max-width:40px" (click)='functionInstagram()'>
            <img src="../../assets/imgs/Youtube_white.png" style="width: 40px;max-width:40px; margin-right:10px"  (click)='functionYoutupe()'>
        	<img src="../../assets/imgs/Facebook_white.png" style="width: 40px;max-width:40px; margin-right:10px"  (click)='functionOpenFacebook()'>
        </div>
        <div style="width:100%;margin-top:5px; text-align:center;font-size: 21px;color:#000000">
            swap
        </div>
      </ion-content>
    </ion-menu>
    <ion-menu contentId="main-content" menuId="last"  type="overlay" side="end" (ionDidOpen)="functionOpenAccoun()">
      <ion-content>
        <ion-list id="labels-list">
          <ion-list-header>
           <div style="height: 175px;margin-top: 6px;width:100%;text-align:center">
          		<div><img src="{{image}}" style="width: 110px;height:110px;border-radius:100%" ></div>
                <div class="userName">{{fullName}}</div>
                <div class="userNameEdit" (click)="functionOpenAccount()">تعديل</div>
          </div>
          </ion-list-header>
           <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesLast; let i = index">
            <ion-item *ngIf="i != 11" (click)="functionGoPage(p.url)" class="menuListItem">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-item *ngIf="i == 11" lines="none" (click)="signOut()"  class="menuListItem" >
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div style="width:100%;margin-top:50px; text-align:center">
            <img src="../../assets/imgs/Instagram_white.png" style="width: 40px;max-width:40px" (click)='functionInstagram()'>
            <img src="../../assets/imgs/Youtube_white.png" style="width: 40px;max-width:40px; margin-right:10px"  (click)='functionYoutupe()'>
        	<img src="../../assets/imgs/Facebook_white.png" style="width: 40px;max-width:40px; margin-right:10px"  (click)='functionOpenFacebook()'>
        </div>
        <div style="width:100%;margin-top:5px; text-align:center;font-size: 21px;color:#000000">
            swap
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" dir="rtl"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
