.headerToolbar{
	--background: #e9e9ea;
	--border-width: 0px;
	--padding-top: 10px;
	--padding-bottom: 5px;
	--padding-end: 0px;
}
.ios ion-title {
   position: inherit;
   width:100%;
   text-align:center
}
toolbar-container{
	--padding-start:0px
}
ion-title {
   text-align:center;
   font-size: 17px;
   font-weight: 600;
   color: black;
   margin-top:5px;
   margin-right: 25%;
}
ion-content{
	--background: var(--ion-color-header);
	--padding-bottom:55px;
}
/*content*/
.userName{
	color:#000000; font-size:22px
}
.userNameEdit{
	color:#000000; 
	font-size:18px;
	margin-top:5px;
	font-family:monospace
}
.editImage{
	position: relative;
    width: 18px;
    top: 7px;
    left: 11px;
}
.largePoxAddImage{
	background-color: #a19f9e;
	width: 72px;
	padding: 12px 10px 12px 10px;
	border-radius: 8px;
}
.textPoxAddImage{
	text-align: center;
    font-size: 11px;
    color: #ffffff;
}
.categoriesHomeCardSelect{
	margin: 0px;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid;
    height: 50px;
	border:1px solid #e9e9ea;
}
.categoriesHomeCardUnSelect{
	background-color: #f2f2f2;
	margin: 0px;
    box-shadow: none;
    border-radius: 4px;
    height: 50px;
	border:1px solid #f2f2f2;
}
.card{
	margin: 0px;
	border-radius:10px;
}
.selectImage{
	float: right;
    padding-right: 12px;
    padding-top: 12px;
}
.workType{
	float: right;
    padding-right: 12px;
    font-size: 15px;
    color: #000000;
    padding-top: 13px;
}
ion-item{
	--background:var(--ion-color-inputFormColor);
	background-color:#ffffff;
   --ion-background-color:var(--ion-color-inputFormColor);
   --inner-padding-start:0px;
   border-radius:10px;
   --border-radius:10px;
   --padding-bottom:0px;
   border:1px solid #e9e9ea;
}
.errorFiled{
	 border:1px solid #ED2224;
}
.succsessFiled{
	 border:1px solid #e9e9ea;
}
ion-input{
		--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	--padding-top:10px;
	color:#000000;
	font-size:15px;
	border-radius:0px;
	--border-radius:0px;
	--padding-start:20px !important;
	font-family:auto;
}
ion-textarea{
		--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	color:#000000;
}
.errorTitle{
	color: #ED2224;
    font-size: 14px;
    margin-right: 9px;
}
.oneButton{
	--background: #ED2224 !important;
	--color:#ffffff !important;
	--border-radius: 10px;
	--padding:0px;
	height:50px;
	width:100%;
}
.oneButton.activated{
	--background: #ED2224 !important;
	padding:0px;
}
ion-select {
		--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	--padding-top:14px;
	color:#000000;
	width:100%
}
.titleInInput{
	color: #000000;
    direction: rtl;
    padding-top: 0px;
    font-size: 12px;
    font-weight: bold;
	padding-left:5px;
	padding-right:5px
}
.starLabel{
    font-size: 12px;
    color: #FFCB45;
	float:right;
	padding-top:2px;
	padding-right:5px;
}
.star{
	position:relative;
	width:80px;
	height:15px;
	text-align: center;
    display: inline-block;
}
.starcover{
	display:flex;
	float:right
}
.starBackRat{
	background:#FFCB45; 
	height:15px;
	direction:ltr; 
	position:absolute; 
	right:0px
}
/*header*/
.palanceText{
	background-color:#a19f9e;
	font-size: 9px;
	padding: 3px 9px 3px 8px;
	border-radius: 5px;
	color:#ffffff;
	float:right;
	margin-top: 5px;
}
.palancePoints{
	padding-right: 5px;
	font-family: emoji;
	color: #ED2224;
	vertical-align: bottom;
	font-size:25px;
	float:right;
}
.point{
	padding-right: 5px;
	color: #ED2224;
	vertical-align: bottom;
	font-size:11px;
	float:right;
}
.classValData{
   --background: #ED2224;
    color: var(--ion-color-wight);
    position: fixed;
	font-family: emoji;
    top: 0px;
    right: 40px;
    --padding-top: 4px;
    --padding-end: 5px;
    --padding-bottom: 4px;
    --padding-start: 6px;
    font-size: 9px;
    font-weight: bold;
    z-index: 100;
}
/*header*/
/*menu style*/
ion-footer{
	position: fixed;
    bottom: 0px;
	border-top: 2px solid #d7d3d7;
    background: #ebebeb;
    border-bottom: 2px solid #d7d3d7;
}
.menueValues{
	width:100%;
	position:fixed;
	bottom:90px;
	text-align:center;
	z-index:10000;
	height:15px;
}
.footerToolbar{
--background: #e9e9ea;
--border-width:0px;
--padding-top:15px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
}
.menueClass{
	color:#000000;
	width:20%;
	float:right;
	text-align:center;
	cursor:pointer;
	z-index:1000000;
}
.menueClassActive{
	color:#DB4437;
}
.labelClass{
    font-size: 13px !important;
    margin-bottom: 10px;
	font-weight: 600;
}
ion-badge{
   --background: #ED2224;
    color: #ffffff;
    position: fixed;
    top: 3px;
    --padding-top: 5px;
    --padding-end: 5px;
    --padding-bottom: 1px;
    --padding-start: 5px;
    font-size: 11px;
}
/*menu style*/

