<ion-content>
    <div style="margin-top:120px; text-align:center">
        <img style="width:125px;" src="../../assets/imgs/Group.png" >
    </div>
    <div class="firstTitle fontSize20 fontweight1">
        رسالة من التطبيق
    </div>
    <div style="padding-top:60px" class="contentDiv">
        <div>
            <img src="../../assets/imgs/errorConnection.png">
        </div>
           <div class="lastTitleOne fontSize14 fontweight1">
            يوجد مشكلة في الاتصال في الانترنت
        </div>
           <div class="lastTitleTow fontSize12 fontweight1">
            يرجى التحقق من الاتصال بالانترنت و الضغط على أعادة المحاولة
        </div>
         <div class="divButtonClass">
            <ion-button class="oneButton fontSize18 fontweight1" (click)="backToHomePage()" id="submit" ><span style="font-size:13px;padding-top:4px">إعادة المحاولة</span></ion-button>            
         </div>
    </div>
</ion-content>
