<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> رصيد الخدمات </div>
        <div class="palancePoints">{{points}}</div>
        <div class="point">نقطة<br>مقايضة</div>
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:20px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="classValData" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding:20px; padding-bottom:80px">
    	<form style="display: contents;" (ngSubmit)="searchValues()">
            <div class="paddingBottom">
                <ion-item lines="none" class="{{errorPassword}}">
                    <ion-input [type]="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchVal" placeholder="إبحث عن خدمة" (ionInput)="checkSearch($event.target.value)"></ion-input><ion-icon name="search-outline" class="eye" (click)="searchValues()"></ion-icon>
                </ion-item>
            </div>
            <button style="visibility:hidden" id="submit" ion-button type="submit" ></button>
  		</form>
		<div>
        	<img src="{{image}}">
        </div>
       <div *ngIf="categories!=0">
         <ion-grid>
            <ion-row>
                <ion-col size="4" *ngFor="let items of returnCategoriesArray">
                    <div (click)="functionGoServices(items.id,items.title)">
                        <div><img src="{{items.image}}" class="categoriesHomeDiv"></div>
                        <div class="categoriesHomeLabel">{{items.title}}</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
       </div>
        <div class="divEmptyVal" *ngIf="categories==0">
            <div>
                <img src="../../assets/imgs/noData.png" style="width:150px; height:150px">
            </div>
            <div class="emptyFirstText">
               لا يوجد بيانات 
            </div>
            <div class="emptyLastText">
                نعتذر لا يوجد بيانات حاليا في التطبيق
            </div>
        </div>
    </div>
</ion-content>
 <div class="menueValues"><img (click)="functionGoToSendPoint()" src="../../assets/imgs/sendPoint.png" style="width:70px"></div>
        <ion-footer class="ion-no-border">
        <ion-toolbar class="footerToolbar">
            <div class="width100">
                <div class="menueClass">
                    <div><img src="../../assets/imgs/GroupSelect862.png" style="width:20px"></div>
                    <div class="labelClass">الرئيسية</div>
                </div>
                <div class="menueClass" (click)="functionGoInvitations()">
                    <div><img src="../../assets/imgs/Group863.png" style="width:18px"></div>
                    <div class="labelClass">الدعوات</div>
                </div>
                <div class="menueClass" (click)="functionGoToSendPoint()">
                    <div style="height:28px"></div>
                    <div class="labelClass" style="font-size:15px">إرسال نقاط</div>
                </div>
                <div class="menueClass" (click)="functionGoToArchives()">
                    <div><img src="../../assets/imgs/Group865.png" style="width:18px"></div>
                    <div class="labelClass">السجل</div>
                </div>
                <div class="menueClass" (click)="functionOpenAccount()">
                    <div><img src="../../assets/imgs/Group866.png" style="width:18px"></div>
                    <div class="labelClass">حسابي</div>
                </div>
            </div>
        </ion-toolbar>
        </ion-footer>