<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> رصيد الخدمات </div>
        <div class="palancePoints">{{points}}</div>
        <div class="point">نقطة<br>مقايضة</div>
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:20px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="classValData" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding-top:20px">
       	<div class="largTitle">دعوة الاصدقاء لإستخدام تطبيق سواب</div>
        <div class="smallTitle">إدع أصدقاءك من مقدمي الخدمات للانضمام الى شبكة المقايضة من سواب وأحصل على رصيد نقاط إضافي مقابل كل صديق ينضم الى شبكة سواب</div>
     	<div style="width:100%">
            <ion-grid class="classGrid">
                <ion-row style="padding:0px">
                    <ion-col style="padding:0px" size="6">
                        <div class="timeTitle">
                            الوقت المتبقي للحصول على نقاط إضافية
                        </div>
                        <div class="timeSubTitle">
                           يمكن الحصول على نقاط إضافية فقط خلال الوقت المخصص لدعوة مقدمي الخدمات
                        </div>
                    </ion-col>
                    <ion-col style="padding:0px" size="6">
                       <div style="width:100%;height:50px">
                            <div class="hours">
                                <div class="countHours">{{hours}}</div>
                                <div class="textTime">ساعة</div>
                           </div>
                           <div class="minutes">
                                <div class="countMinutes">{{minutes}}</div>
                                <div class="textTime">دقائق</div>
                           </div>
                           <div class="seconds">
                                <div class="countSeconds">{{seconds}}</div>
                                <div class="textTime">ثواتي</div>
                           </div>
                       </div>
                       <div class="line">
                       	<div class="subLine"></div>
                       </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="divRedColor" *ngIf="invitationTime!=0">
        	فرصتك للحصول على 20 نقطة مقابل كل مقدم خدمة يقوم بتحميل تطبيق سواب
        </div>
         <div class="notes">
        	بعد إنتهاء الوقت المخصص يمكنك الحصول على 5 نقاط مقابل كل دعوة
        </div>
        <div style="padding-top: 22px;">
            <ion-item lines="none">
            	<span class="codeVal">
					الكود:
                </span>
                <ion-input style="border-left:1px solid #B0AFB0;" type="text" [(ngModel)]="invitationCode" [ngModelOptions]="{standalone: true}" readonly='true'></ion-input>
               	<span class="class962" (click)="copyCodeVal()">
					نسخ الكود
                </span>
            </ion-item>
        </div>
       	<div style="font-size: 20px; text-align: center; padding-top: 30px;">دعوة بإستخدام</div>
        <div style="padding-top: 22px; width: 100%;">
            <div style="width:100%">
                <ion-grid style="padding:0px;">
                    <ion-row style="padding:0px">
                        <ion-col style="padding:0px" size="2">
                        </ion-col>
                        <ion-col style="padding:0px; text-align:center" size="8">
                             <ion-grid>
                                <ion-row style="padding:0px">
                                    <ion-col style="padding:5px" size="4" (click)="functionshareValuseFacebook()">
                                    	<div><img src="../../assets/imgs/faceBook.png" style="width:50px"></div>
                                        <div class="sendMsg">Facebook</div>
                                    </ion-col>
                                    <ion-col style="padding:5px" size="4"  (click)="functionshareValuseSMS()">
                                    	<div><img src="../../assets/imgs/message.png" style="width:50px"></div>
                                        <div class="sendMsg">SMS</div>
                                    </ion-col>
                                    <ion-col style="padding:5px" size="4"  (click)="functionshareValuseWhatsapp()">
                                    	<div><img src="../../assets/imgs/whatsa.png" style="width:50px"></div>
                                        <div class="sendMsg">Whatsapp</div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                        <ion-col style="padding:0px" size="2">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
</ion-content>
 <div class="menueValues"><img (click)="functionGoToSendPoint()" src="../../assets/imgs/sendPoint.png" style="width:70px"></div>
        <ion-footer class="ion-no-border">
        <ion-toolbar class="footerToolbar">
            <div class="width100">
                <div class="menueClass" (click)="functionGoToHome()">
                    <div><img src="../../assets/imgs/Group862.png" style="width:20px"></div>
                    <div class="labelClass">الرئيسية</div>
                </div>
                <div class="menueClass" (click)="functionGoInvitations()">
                    <div><img src="../../assets/imgs/Group863.png" style="width:18px"></div>
                    <div class="labelClass">الدعوات</div>
                </div>
                <div class="menueClass" (click)="functionGoToSendPoint()">
                    <div style="height:28px"></div>
                    <div class="labelClass" style="font-size:15px">إرسال نقاط</div>
                </div>
                <div class="menueClass" (click)="functionGoToArchives()">
                    <div><img src="../../assets/imgs/Group865.png" style="width:18px"></div>
                    <div class="labelClass">السجل</div>
                </div>
                <div class="menueClass" (click)="functionOpenAccount()">
                    <div><img src="../../assets/imgs/Group866.png" style="width:18px"></div>
                    <div class="labelClass">حسابي</div>
                </div>
            </div>
        </ion-toolbar>
        </ion-footer>