ion-content{
	--background: var(--ion-color-header);
	--padding-end:35px;
	--padding-start:35px;
	--padding-bottom:10px
}
/*comtent*/
.firstTitle{
	padding-top:25px; 
	text-align:center;
	color:#000000;	
}
.lastTitle{
	padding-top:5px; 
	text-align:center;
	color:#000000;
	padding-bottom:10px
}
ion-item{
	--background:var(--ion-color-inputFormColor);
	background-color:#ffffff;
   --ion-background-color:var(--ion-color-inputFormColor);
   --inner-padding-start:0px;
   border-radius:10px;
   --border-radius:10px;
   --padding-bottom:0px;
   border:1px solid #e9e9ea;
}
.errorFiled{
	 border:1px solid #ED2224;
}
.succsessFiled{
	 border:1px solid green;
}
.class962{
	color:var(--ion-color-formPlaseHolderColor);
	direction:ltr;
	padding-top:2px;
	padding-right: 5px;
	font-family:serif
}
ion-input{
		--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	--padding-top:10px;
	color:#000000;
	font-size:14px;
	border-radius:0px;
	--border-radius:0px;
	font-family:auto;
}
.forgetPassword{
	font-size: 15px;
	padding-right:10px;
	color:#ED2224;
}
.errorTitle{
	color: #ED2224;
    font-size: 14px;
    margin-right: 9px;
}
.oneButton{
	--background: #ED2224 !important;
	--color:#ffffff !important;
	--border-radius: 10px;
	--padding:0px;
	height:50px;
	width:100%;
}
.oneButton.activated{
	--background: #ED2224 !important;
	padding:0px;
}
.divButtonClass{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.eye{
	font-size: 22px;
    padding-top: 6px;
	color:var(--ion-color-formPlaseHolderColor);
}
.divButtonClassIcon{
	text-align:center;
	padding-top:25px;
	direction:ltr
}
.divButtonClassIconAppel{
	text-align:center;
	padding-top:10px;
	direction:ltr
}
.iconClassFaceBook{
	font-size:35px;
	padding-right:10px;
	color:#3b5998;
}
.spanClassFaceBookFater{
	padding:18px 10px 6px 10px; 
	background-color:#ffffff;
	 border-radius:25px
}
.spanClassFaceBookchiled{
	vertical-align: super;
	padding-left:5px; 
	font-weight:bold
}
.iconClassGoogle{
	font-size:35px;
	padding-left:10px;
	padding-right:10px;
	color:#DB4437;
}
.spanClassGoogleFater{
	margin-left:20px;
	padding:18px 10px 6px 10px; 
	background-color:#ffffff; 
	border-radius:25px
}
.iconClassAppel{
	font-size:35px;
	padding-left:10px;
	color:#000000;
}
ion-checkbox{
	--background:#ED2224;
	--background-checked:#ED2224;
	--border-color:#ED2224 !important;;
	--border-color-checked:#ffffff !important;
    --border-width: 0px;
    --size: 22px;
    --checkmark-width:4px;
	--checkmark-color:#ffffff !important;
    margin: 0px;
    --border-radius: 4px;
}
ion-label{
    margin: 0px;
    font-size: 16px !important;
    color: #ED2224 !important;
    padding-right: 15px;
      vertical-align: super;

}