/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.fontSize11{font-size:11px !important;}
.fontSize12{font-size:12px !important;}
.fontSize13{font-size:13px !important;}
.fontSize14{font-size:14px !important;}
.fontSize15{font-size:15px !important;}
.fontSize16{font-size:16px !important;}
.fontSize17{font-size:17px !important;}
.fontSize18{font-size:18px !important;}
.fontSize19{font-size:19px !important;}
.fontSize20{font-size:20px !important;}
.fontSize21{font-size:21px !important;}
.fontSize22{font-size:22px !important;}
.fontweight1{font-weight:bold !important;}
.textAlignEnd{text-align:end}
.textAlignStart{text-align:start}
.textAlignCenter{text-align:center}
.paddingBottom{padding-bottom:10px}
.paddingBottom3{padding-bottom:3px}
.paddingBottom5{padding-bottom:5px}
.paddingBottom7{padding-bottom:7px}
.paddingBottom15{padding-bottom:15px}
.paddingTop3{padding-top:3px}
.paddingTop15{padding-top:15px}
.paddinginline15{padding-inline-start:15px !important}
.paddingTop5{padding-top:5px !important}
.paddingTop8{padding-top:8px !important}
.width50{width:50px}
.width35{width:35px}
.width100{width:100%}
.padding0{padding:0px;}
.padding10{padding:10px;}
.padding7{padding:7px;}
.padding5{padding:5px;}
.marginLeft52{margin-Left:52px}
.marginLeft68{margin-Left: 68px;}
.height38{height:38px}
.height45{height:45px}
.verticalAlignTop{vertical-align:top}
.swiper-pagination-bullet{
	width:33px !important;
	height:4px !important; 
	border-radius:10% !important;
}
.swiper-pagination-bullet-active{ 
	background:#f9475c !important;
}
.toastStyle{
	--background: #ED2224 !important; ;
	--color: var(--ion-color-header);
	--end:0px;
	--start:0px;
	--border-radius:0px;
	--width:100%;
	--max-width:100%;
	direction: rtl;
	--box-shadow:none;
	font-size:11px;
	text-align:center;
}
.loadingStyle{
	--spinner-color: var(--ion-color-header);
}
.alertBac{
	--background:#ED2224;
}
.alert-message.sc-ion-alert-ios {
  color: #ffffff;
  font-size:16px;
  
}
.alert-button.sc-ion-alert-ios{
	color: #ffffff;
	font-weight:normal !important;
	font-size: 17px;
    padding-bottom: 10px;
}
.modalFilterSortCss .modal-wrapper{
	width:100%;
	--height:100%;
	border-radius:10px;
	background: transparent !important;
}
.infinite-loading-text{
	font-size:13px !important;
	color:var(--ion-color-searchButton) !important;
}
.picker-button{
	font-weight: 100 !important;
}
.sc-ion-select-popover{
	color:#ED2224 !important;
	--color-checked:#ED2224 !important;
}
.sc-ion-label-ios-h{
	padding-right:20px	
}
.select-interface-option{
	direction:rtl;
	--min-height:40px;
	font-size: 15px;
	--border-color:#ED2224 !important;
	    --padding-start: 3px;
	background-color: #ffffff !important;
    --background: #ffffff;	
}
ion-title {
   padding-inline: 5px !important;
}
.header-md::after{
	background-image:none;
}
.my-custom-class {
  --background: #222;
  --spinner-color: #fff;
  color: #fff;
}
.loading-wrapper{
	border-radius:5px !important;
	background:#ED2224 !important;
}
ion-skeleton-text {
  --background: #BDBDBD; 
  --background-rgb: #BDBDBD;
  background-color:#BDBDBD;
}
.sc-ion-modal-md-h {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.0) !important;
}